<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
            coding
          <br />
            is
          <br />
            cool
          </div>
      </div>
      <div class="col-4">
      Random ass quotes website
      </div>
      <div class="col-5 links">
        <%= link_to 'add', '#' %>
        <%= link_to 'about', '#' %>
       </div>
    </header>

<hr />

    <br class="clear" />

<div class="container"
    <%= yield %>
</div>    
  
<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-6">
    Just here coding away.
    </div>
  <div class="col-6 footer-blurb">
    Proudly coded by <a href="https://github.com/quesoisgood">Daniel Paramo</a><br />
    Want to build your own Splurty Web App - <a href="https://online.bootcampspot.com">Learn how to code here</a>
  </div>
    </div>
  </div>
</footer>

    </body>
</html>
