<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
            coding
          <br />
            is
          <br />
            cool
          </div>
        <% end %>
      </div>
      <div class="col-sm-4 hidden-xs-down slogan">
      Random ass quotes website
      </div>
      <div class="col-5 offset-1 offset-sm-0 col-sm-5 links">
      <!-- Button trigger modal -->
      <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#exampleModal'} %>
      &nbsp;&nbsp;
      <%= link_to 'About', about_path %>
       </div>
    </header>

      
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying, label: "What is the saying you want to add?", placeholder: "Fear is the disease. Hustle is the antidote" %>
              <br />
              <%= f.input :author, label: "Who is the author of the quote?", placeholder: "Travis Kalanick" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit 'Create', class: 'btn btn-primary mb-3' %>
            </div>
          <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    

<hr />

    <br class="clear" />

<div class="container">
  <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
    <%= yield %>
</div>    
  
<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-12 col-sm-6">
    Just here coding away.
    </div>
  <div class="col-12 col-sm-6 footer-blurb">
    Proudly coded by <a href="https://github.com/quesoisgood">quesoisgood</a><br />
    Want to build your own Splurty Web App - <a href="https://online.bootcampspot.com">Learn how to code here</a>
  </div>
    </div>
  </div>
</footer>

    </body>
</html>
